@charset "UTF-8";
html {
box-sizing: border-box;
}
body{
  background: #FFFFFF;
  width: 1366px;
  height: 908px;
}
header{

     background: #FFFFFF;
     width: 1366px;
     height: 769px;
     height: 88px;
     box-shadow:0px 3px 6px #00000029;
 }     
 ul{ list-style-image: url(../assests/tick.png);}

 .red{
   color: #B60B05;
 }
  

a {
  text-decoration: none;
  }
          /* header style */
  #doc{     
    position: absolute;
    top:24px;
    left:142px;
    width:38px;
    height:38px;
    color: red;
}

#ye{     
    position: absolute;
    top:10px;
    left:180px;
    width:140px;
    height:41px;
    color:#229DE8;
    font: bold;
    font-size: 25px;
}


  #do{ 
      position: absolute;
      top:45px;
      left:638px;
      width:92px;
      height:24px;
      font:medium;
      font-size: 15px;
      color: #229DE8;
      opacity: 1;
    }

  #it{  
      position: absolute;
      top:45px;
      left:785px;
      width:50px;
      height:24px;
      font:medium;
      font-size: 15px;
      color: #229DE8;
      opacity: 1;
   }

  #your{ 
      position: absolute;
      top:45px;
      left:890px;
      width:44px;
      height:24px;
      font:medium;
      font-size: 15px;
      color: #229DE8;
      opacity: 1;   
    }

  #self{ 
      position: absolute;
      top:45px;
      left:989px;
      width:86px;
      height:24px;
      font: medium;
      font-size: 15px;
      color: #229DE8;
      opacity: 1;
   }

  #again{ 
      position: absolute;
      top:45px;
      left:1130px;
      width:131px;
      height:24px;
      font:medium;
      font-size: 15px;
      color: #229DE8;
      opacity: 1;
    }

    #plan{
      position: absolute;
      top:120px;
      left:142px;
      width:208px;
      height:66px;
      font:normal;
      font-size:35px;
      color: #229DE8;
  }
  #inst{
      position: absolute;
      top:198px;
      left:142px;
      width:599px;
      height:64px;
      font:lighter;
      font-size:22px;
      color:#525355;
  }
  #bor{
      position: absolute;
      top: 295px;
      left: 142px;
      width: 300px;
      height: 369px;
      background: #FFFFFF;
      box-shadow: 0px 3px 6px #00000042;
      border-radius:5px;
  }
  #cut{
    position: absolute;
    top:295px;
    left:142px;
    width:300px;
    height:116px;
    background: transparent linear-gradient(108deg, #47E3FB 0%, #47E4FAE8 15%, #3BCCFA 38%, #39B8F7 59%, #229DE8 81%, #229DE8 100%) 0% 0% no-repeat padding-box; 
    border-radius: 0% 0% 50% 50%;
  }
  #bas{
    position: absolute;
    top:310px;
    left:174px;
    width:174px;
    height:23px;
    font: bold;
    font-size:17px;
    color:#ffffff;
  }
  #ngn{
    position:absolute;
    top:358px;
    left:240px;
    width:118px;
    height:32px;
    font:bold;
    font-size:22px;
    color:#ffffff;
  
  }

  #consult{
    position: absolute;
    top:446px;
    left:200px;
    width:130px;
    height:18px;
    font: bold;
    font-size:12px;
  }

  #sch{
    position: absolute;
    top:475px;
    left:200px;
    width:130px;
    height:19px;
    font: bold;
    font-size:12px;
  
  }
  #each{
    position: absolute;
    top:507px;
    left:200px;
    width:1125px;
    height:19px;
    font: bold;
    font-size:12px;
  
  }
  
  #mem{
    position: absolute;
    top:542px;
    left:200px;
    width:160px;
    height:19px;
    font: bold;
    font-size:12px;
  
  }
  
  #li{
    position: absolute;
    top:617px;
    left:143px;
    width:300px;
    border: 1px solid #229DE8;
  
  }
  
  #start{
    position: absolute;
    top:640px;
    left:239px;
    width:97px;
    font: bold;
    font-size: 13px;
    color:#229DE8;
  }
  
  #gs{
    position: absolute;
  top: 641px;
  left: 350px;
  width: 7px;
  height: 13px;
  color: #229DE8;
  opacity: 1;
  }
  
  
  #bors{
    position: absolute;
    top: 295px;
    left: 511px;
    width: 300px;
    height: 369px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000042;
    border-radius:5px;
  }
  #cuts{
  position: absolute;
  top:295px;
  left:511px;
  width:300px;
  height:116px;
  background: transparent linear-gradient(108deg, #47E3FB 0%, #47E4FAE8 15%, #3BCCFA 38%, #39B8F7 59%, #229DE8 81%, #229DE8 100%) 0% 0% no-repeat padding-box; 
  border-radius: 0% 0% 50% 50%;
  }
  
  #lite{
  position: absolute;
  top:310px;
  left:543px;
  width:174px;
  height:23px;
  font: bold;
  font-size:17px;
  color:#ffffff;
  }
  #ngns{
  position:absolute;
  top:358px;
  left:609px;
  width:118px;
  height:32px;
  font:bold;
  font-size:22px;
  color:#ffffff;
  }

  #services{
  position: absolute;
  top:446px;
  left:569px;
  width:130px;
  height:18px;
  font: bold;
  font-size:12px;
  
  }
  #back{
  position: absolute;
  top:475px;
  left:569px;
  width:130px;
  height:19px;
  font: bold;
  font-size:12px;
  
  }
  #routine{
  position: absolute;
  top:507px;
  left:569px;
  width:1125px;
  height:19px;
  font: bold;
  font-size:12px;
  
  }

  #valid{
  position: absolute;
  top:542px;
  left:569px;
  width:160px;
  height:19px;
  font: bold;
  font-size:12px;
  
  }
  #mems{
  position: absolute;
  top:571px;
  left:569px;
  width:130px;
  height:19px;
  font: bold;
  font-size:12px;
  
  }
  
  
  #lis{
  position: absolute;
  top:617px;
  left:512px;
  width:300px;
  border: 1px solid #229DE8;
  
  }
  
  #starts{
  position: absolute;
  top:640px;
  left:608px;
  width:97px;
  font: bold;
  font-size: 13px;
  color:#229DE8;
  }
  
  #gst{
    position: absolute;
    top: 641px;
    left: 720px;
    width: 7px;
    height: 13px;
    color: #229DE8 ;
    opacity: 1;
  }
  
  
  #bore{
    position: absolute;
    top: 295px;
    left: 860px;
    width: 300px;
    height: 369px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000042;
    border-radius:5px;
  }
  #spa{
  position: absolute;
  top:295px;
  left:860px;
  width:300px;
  height:116px;
  background: transparent linear-gradient(108deg, #47E3FB 0%, #47E4FAE8 15%, #3BCCFA 38%, #39B8F7 59%, #229DE8 81%, #229DE8 100%) 0% 0% no-repeat padding-box; 
  border-radius: 0% 0% 50% 50%;
  }
  
  #gold{
  position: absolute;
  top:310px;
  left:895px;
  width:174px;
  height:23px;
  font: bold;
  font-size:17px;
  color:#ffffff;
  }
  #ngn4{
  position:absolute;
  top:358px;
  left:956px;
  width:118px;
  height:32px;
  font:bold;
  font-size:22px;
  color:#ffffff;
  }

  #ta{
    position: absolute;
    top: 455px;
    left: 880px;
    width: 20px;
    height: 18px;
    opacity: 1;
  }
  #tb{
    position: absolute;
    top: 485px;
    left: 880px;
    width: 20px;
    height: 18px;
    opacity: 1;
  }
  #tc{
    position: absolute;
    top: 520px;
    left: 880px;
    width: 20px;
    height: 18px;
    opacity: 1;
  }
  #td{
    position: absolute;
    top: 550px;
    left: 880px;
    width: 20px;
    height: 18px;
    opacity: 1;
  }
  #te{
    position: absolute;
    top: 580px;
    left: 880px;
    width: 20px;
    height: 18px;
    opacity: 1;
  }
 

  #sos{
  position: absolute;
  top:446px;
  left:910px;
  width:130px;
  height:18px;
  font: bold;
  font-size:12px;
   }
   
  #backs{
  position: absolute;
  top:475px;
  left:910px;
  width:130px;
  height:19px;
  font: bold;
  font-size:12px;
  }

  #check{
  position: absolute;
  top:507px;
  left:910px;
  width:1125px;
  height:19px;
  font: bold;
  font-size:12px;
  }

  #specialist{
  position: absolute;
  top:542px;
  left:910px;
  width:160px;
  height:19px;
  font: bold;
  font-size:12px;
  }

  #entrants{
  position: absolute;
  top:571px;
  left:910px;
  width:130px;
  height:19px;
  font: bold;
  font-size:12px;
  }
  
  #list{
  position: absolute;
  top:617px;
  left:860px;
  width:300px;
  border: 1px solid #229DE8;
  }
  
  #started{
  position: absolute;
  top:640px;
  left:935px;
  width:97px;
  font: bold;
  font-size: 13px;
  color:#229DE8;
  }
  
  #g{
    position: absolute;
    top: 641px;
    left: 1050px;
    width: 7px;
    height: 13px;
    color: #229DE8 ;
    opacity: 1;
  }
  
    footer{
      position: absolute; 
      top: 804px;
      height:127px;
      width: 1267px;
      left: 50px;
      border: 1px solid;
      border-color: #229DE8;
      border-radius: 48px 48px 0px 0px;
      background: #229DE8
    
    }
    #ab{
      position: absolute; 
      top: 50px;
      height:24px;
      width:50px;
      left:140px;
      color:#FFFFFF;
     }
      #fa{
        position: absolute; 
        top: 50px;
        height:24px;
        width: 44px;
       left:260px;
       color:#FFFFFF;
      } 
        #coc{
          position: absolute; 
          top: 50px;
          height:24px;
          width: 86px;
          left:381px;
          color:#FFFFFF;
      } 
      #face{
        position: absolute; 
        top: 50px;
        height:21px;
        width: 11px;
        left:652px;
        color:#FFFFFF;
    } 
    #twi{
      position: absolute; 
      top: 50px;
      height:21px;
      width: 28px;
      left:687px;
      color:#FFFFFF;
    } 
      #on{
        position: absolute; 
        top: 40px;
        height:24px;
        width: 142px;
       left:1131px;
       color: #FFFFFF;
      } 
          
    
    