@charset "UTF-8";
html {
box-sizing: border-box;
}
body{
    width: 1366px;
height: 1380px;
background: white;
}

header{
    background:#FFFFFF;
    width: 1366px;
    height: 88px;
    box-shadow:0px 3px 6px #00000029;
}
a {
    text-decoration: none;
}

.red{color: #b60b05;}

   /* header style */
#doc{     
    position: absolute;
    top:20px;
    left:145px;
    width:38px;
    height:38px;
    
  }   
  #ye{     
    position: absolute;
    top:10px;
    left:180px;
    width:140px;
    height:41px;
    color: #229DE8;
    font: bold;
    font-size: 25px;
  }  

#do{ 
    position: absolute;
   top:36px;
   left:771px;
   width:92px;
   height:24px;
 font:medium;
 font-size: 15px;
 color:#229de8;
 }
#it{  
 position: absolute;
   top:36px;
   left:924px;
   width:50px;
   height:24px;
   font:medium;
   font-size: 15px;
   color:#229DE8;
}
#your{ 
 position: absolute;
   top:36px;
   left:1036px;
   width:44px;
   height:24px;
   font:medium;
   font-size: 15px;
   color:#229DE8;
}
#self{ 
 position: absolute;
   top:36px;
   left:1141px;
   width:86px;
   height:24px;
   font: medium;
   font-size: 15px;
   color:#229DE8;
}

#qs{
    position: absolute;
    top: 151px;
left: 137px;
width: 151px;
height: 82px;
font: Bold 60px;
color: #229DE8;
}

#fre{
    position: absolute;
    top: 210px;
left: 142px;
width: 305px;
height: 34px;
font: normal 25px;
color: #4C4E50;
}

#bo{
    position: absolute;
    top: 250px;
    left: 137px;
    width: 1093px;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
}

#lo{
    position: absolute;
    top: 295px;
    left: 182px;
    width: 677px;
    height: 34px;
    color: #229DE8;
    opacity: 0.78;
    font: normal;
    font-size: 20px;
}

#c{
    position: absolute;
    top: 298px;
    left: 1160px;
    width: 24px;
    height: 24px;
}

#boa{
  position: absolute;
  top: 365px;
  left: 137px;
  width: 1093px;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

#loa{
  position: absolute;
  top: 405px;
  left: 182px;
  width: 677px;
  height: 34px;
  color: #229DE8;
  opacity: 0.78;
  font: normal;
  font-size: 20px;
}

#ca{
  position: absolute;
  top: 408px;
  left: 1160px;
  width: 24px;
  height: 24px;
}

#bob{
  position: absolute;
  top: 480px;
  left: 137px;
  width: 1093px;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

#lob{
  position: absolute;
  top: 530px;
  left: 182px;
  width: 677px;
  height: 34px;
  color: #229DE8;
  opacity: 0.78;
  font: normal;
  font-size: 20px;
}

#cb{
  position: absolute;
  top: 533px;
  left: 1160px;
  width: 24px;
  height: 24px;
}

#bod{
  position: absolute;
  top: 595px;
  left: 137px;
  width: 1093px;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

#lod{
  position: absolute;
  top: 635px;
  left: 182px;
  width: 677px;
  height: 34px;
  color: #229DE8;
  opacity: 0.78;
  font: normal;
  font-size: 20px;
}

#cd{
  position: absolute;
  top: 638px;
  left: 1160px;
  width: 24px;
  height: 24px;
}

#boe{
  position: absolute;
  top: 710px;
  left: 137px;
  width: 1093px;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

#loe{
  position: absolute;
  top: 750px;
  left: 182px;
  width: 677px;
  height: 34px;
  color: #229DE8;
  opacity: 0.78;
  font: normal;
  font-size: 20px;
}

#ce{
  position: absolute;
  top: 753px;
  left: 1160px;
  width: 24px;
  height: 24px;
}

#bof{
  position: absolute;
  top: 825px;
  left: 137px;
  width: 1093px;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

#lof{
  position: absolute;
  top: 865px;
  left: 182px;
  width: 677px;
  height: 34px;
  color: #229DE8;
  opacity: 0.78;
  font: normal;
  font-size: 20px;
}

#cf{
  position: absolute;
  top: 868px;
  left: 1160px;
  width: 24px;
  height: 24px;
}

#bog{
  position: absolute;
  top: 940px;
  left: 137px;
  width: 1093px;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

#log{
  position: absolute;
  top: 980px;
  left: 182px;
  width: 677px;
  height: 34px;
  color: #229DE8;
  opacity: 0.78;
  font: normal;
  font-size: 20px;
}

#cg{
  position: absolute;
  top: 983px;
  left: 1160px;
  width: 24px;
  height: 24px;
}

#bol{
  position: absolute;
  top: 1055px;
  left: 137px;
  width: 1093px;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

#lol{
  position: absolute;
  top: 1095px;
  left: 182px;
  width: 677px;
  height: 34px;
  color: #229DE8;
  opacity: 0.78;
  font: normal;
  font-size: 20px;
}

#cl{
  position: absolute;
  top: 1098px;
  left: 1160px;
  width: 24px;
  height: 24px;
  }



footer{
    position: absolute;
    top: 1279px;
    left: 50px;
    width: 1267px;
    height: 127px;
    background: #229DE8;
    border-radius: 48px 48px 0px 0px;
}

#ab{
    position: absolute; 
    top: 50px;
    height:24px;
    width:50px;
    left:140px;
    color:#FFFFFF;
   }
   #fa{
    position: absolute; 
    top: 50px;
    height:24px;
    width: 44px;
   left:260px;
   color:#FFFFFF;
  } 
    #coc{
      position: absolute; 
      top: 50px;
      height:24px;
      width: 86px;
      left:381px;
      color:#FFFFFF;
  } 
  #face{
    position: absolute; 
    top: 50px;
    height:21px;
    width: 11px;
    left:652px;
    color:#FFFFFF;
} 
#twi{
  position: absolute; 
  top: 50px;
  height:21px;
  width: 28px;
  left:687px;
  color:#FFFFFF;
} 
  #on{
    position: absolute; 
    top: 40px;
    height:24px;
    width: 142px;
   left:1131px;
   color: #FFFFFF;
  }  


